<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <tr *ngFor="let data of districtWiSeDataList">
                <td>welcome
                    <br>
                    <br><br><br><br><br>
                    <form>
                        <input type="email" id="email">
                    <input type="password" id="password">
                    <input type="submit" (click)="onclick()">
                    </form>
                    
                </td>
            </tr>
        </table>

    </div>
</div>